# Dependencies
node_modules
.pnp
.pnp.js
yarn-error.log

# Testing
coverage

# Next.js
.next
out
build
dist

# Environment files - deployment needs these files
# .env files are required for deployment and should be committed

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

# Backups
backups/
public/screenshots-part-*

# Misc
*.log
.vercel
credentials.json
*.pem
*.key
.credentials
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
backups/backup_2026-03-26T11-01-14/backup_2026-03-26T11-01-14_screenshots.tar.gz.part_ab
backups/backup_2026-03-26T11-01-14/backup_2026-03-26T11-01-14_screenshots.tar.gz.part_aa
backups/backup_2026-03-26T11-01-14/backup_2026-03-26T11-01-14_screenshots.tar.gz.part_ad
backups/backup_2026-03-26T11-01-14/backup_2026-03-26T11-01-14_screenshots.tar.gz.part_ac
backups/backup_2026-03-26T11-01-14/backup_2026-03-26T11-01-14_screenshots.tar.gz.part_ae
public/screenshots-part-aa
public/screenshots-part-ac
public/screenshots-part-ab
public/screenshots-part-ae
public/screenshots-part-ad
